<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sxl.dao.XiaoxiDao">
	<resultMap id="BaseResultMap" type="com.sxl.model.Xiaoxi">
		<id column="customerId" property="customerId"/>
		<id column="title" property="title"/>
		<id column="content" property="content"/>
		<id column="insertDate" property="insertDate"/>
	</resultMap>
	
	<insert id="insert">
		insert into t_xiaoxi(customerId,title,content,insertDate) values(#{customerId},#{title},#{content},#{insertDate})
	</insert>
	
	<update id="update">
	 update t_xiaoxi
	 <trim prefix="set" suffixOverrides=",">
	  <if test="customerId!=null">customerId=#{customerId},</if>
	  <if test="title!=null">title=#{title},</if>
	  <if test="content!=null">content=#{content},</if>
	  <if test="insertDate!=null">insertDate=#{insertDate},</if>
	 </trim>
	 where id=#{id}
	</update>
	<select id="getById" resultMap="BaseResultMap"
		parameterType="com.sxl.model.Xiaoxi">
		select * from t_xiaoxi where id=#{id}
	</select>
	
	<delete id="delete">  
        delete from t_xiaoxi where id=#{id}
	</delete>
	<select id="queryForList" resultMap="BaseResultMap"
		parameterType="com.sxl.model.Xiaoxi">
		select * from t_xiaoxi where 1=1 
	</select>
	<select id="countAll" resultType="java.lang.Integer" parameterType="com.sxl.model.Xiaoxi">
		select count(1) from t_xiaoxi where 1=1 
	</select>
</mapper>
